/* Base */
:root {
  font-size: 24px; }
  @media (max-width: 520px) {
    :root {
      font-size: 16px; } }
  @media (max-width: 1100px) {
    :root {
      font-size: 18px; } }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.heading-container {
  background: url(../img/terrace.jpeg) no-repeat;
  background-size: cover;
  height: 31rem; }

header {
  text-align: center;
  margin-top: 3rem;
  position: absolute;
  width: 100%; }
  header .heading-title {
    color: deeppink;
    font-size: 5rem; }
  header .menu-item {
    color: deeppink;
    text-transform: uppercase; }

/*
reservations
*/
#reservations {
  height: fit-content; }

form {
  height: inherit;
  border: 1px solid #a9a2a2;
  background-color: #efefef;
  text-align: center;
  margin: 0 auto;
  padding: 1rem; }
  form legend {
    font-size: 2.5rem;
    margin: 2rem auto 0; }
  form .reservation-personal-input {
    text-align: left; }
    form .reservation-personal-input input {
      width: 15rem; }
  form .reservation-time-input {
    text-align: left; }
  form label {
    text-align: right; }
  form input[name="date"],
  form input[name="time"] {
    width: 11rem; }
  form input[name="party"] {
    width: 3rem; }

/*
Menu
*/
#menu {
  text-align: center; }
  #menu h2 {
    color: #315d8c;
    margin-bottom: 1rem; }
  #menu li {
    list-style-type: none;
    height: 11rem;
    text-align: left;
    margin-left: 4rem;
    margin-bottom: 2rem; }
    #menu li div {
      display: flex; }
    #menu li img {
      height: 6rem; }
    #menu li p {
      font-size: 1rem;
      margin-left: 1rem; }

nav li {
  list-style-type: none;
  margin: 0 1rem;
  display: inline;
  font-size: 0.8rem; }
